* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  position: relative;
  display: grid;
  padding: 0 0 0 4rem;
  max-height: 40rem;
  grid-template-columns: minmax(30rem, 1fr) 1fr;
  grid-template-rows: 40rem;
  gap: .5rem;
  place-items: center;
  overflow: hidden;
  margin-bottom: 10rem;
}

.hero > picture > img {
  margin-left: 2rem;
  width: 90%;
  max-width: 40rem;
  object-fit: fill;
}

.hero__info {
  display: grid;
  z-index: 9;
  gap: 2rem;
  padding-inline: 35px;
  align-self: center;
}

.hero__info h1 {
  color: #101a4f;
  font-size: 2.8rem;
  line-height: 2.6rem;
  font-weight: 900;
}

.hero__info p {
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.hero__info button {
  width: 50%;
  padding: 5px;
  border: none;
  background-color: #FEA501;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.dishes {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 2rem 0 2rem;
}

.dishes__title {
  color: #333;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
}

.dishes__grid {
  width: 100%;
  display: grid;
  grid-template-areas: 
  'a a b c' 
  'a a d e'
  ;
  gap: 2.4rem;
  /* justify-content: center;
  padding-inline: 35px;
  margin-bottom: 10rem; */
}

.dishes__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px .2px rgba(78, 78, 78, 0.24);
}

.dishes__item--big {
  grid-area: a;
}

.menu {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 2rem 0 2rem;
  margin-bottom: 2.4rem;
}

.menu__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2.4rem;
}

.menu__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 2rem;
}

.menu__grid__item {
  background-color: #101a4f;
  padding: 15px;
  border-top-left-radius: 40px;
}

.menu__grid__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 0 16px 0;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .hero img {
    display: none;
  }
  .hero {
    padding: 0 2rem;
    grid-template-columns: 1fr 1fr;
    background-image: url("../assets/images/hero.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  .hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#fe9901ad;
  }
}

@media screen and (max-width: 600px) {
  .dishes {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .dishes .dishes__grid {
    grid-auto-rows: 10rem;
    grid-template-areas: 
    'a a a a' 
    'a a a a'
    'b c d e'
    ;
    gap: 1rem;
  }
  .menu {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .menu__grid {
    grid-template-columns: repeat(auto-fit, 14rem);
    place-content: center;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .dishes .dishes__grid {
    grid-template-areas: 
    'a a' 
    'a a'
    'b c'
    'd e'
    ;
  }

  .hero__info button {
    width: 100%;
  }

}